@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
    --muted: 241 245 249;
    --muted-foreground: 100 116 139;

    --card: 255 255 255;
    --card-foreground: 15 23 42;

    --primary: 37 99 235;
    --primary-foreground: 255 255 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #fffff;
      --foreground: 248 250 252;
      --muted: 30 41 59;
      --muted-foreground: 148 163 184;

      --card: 30 41 59;
      --card-foreground: 248 250 252;

      --primary: 59 130 246;
      --primary-foreground: 15 23 42;
    }
  }

  body {
    background-color: rgb(var(--background) / 1);
    color: rgb(var(--foreground) / 1);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}
